:host {
  background: linear-gradient(310deg, rgb(14,6,12), rgb(24,16,20));
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  perspective: 1000px;
  cursor: progress;
}

.frame {
  --y: 0;
  --x: 0;

  position: fixed;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  top: 50%;
  left: 50%;
  border: 1px solid rgba(white, 0.5);
  transition: 250ms;
  border-radius: 4px;
  transform:
    translate(-50%, -50%)
    rotateY(var(--x))
    rotateX(var(--y));

  display: none;
  @media screen and (min-width: 520px) {
    display: block
  }

  //background: linear-gradient(320deg, rgba(white, 0.12), rgba(black, 0.12));
  //box-shadow: 0 0 80px 0 rgba(rgb(135, 0, 255), 0.15);
}

.frame-watermark {
  position: fixed;
  width: calc(100vw - 110px);
  height: calc(100vh - 110px);
  top: 50%;
  left: 50%;
  border: 1px solid rgba(white, 0.10);
  transition: 100ms;
  border-radius: 5px;
  transform: translate(-50%, -50%);

  display: none;
  @media screen and (min-width: 520px) {
    display: block
  }
}

.logo {
  --y: 0;
  --x: 0;

  width: 160px;
  height: 160px;
  background: transparent;
  opacity: 0.975;
  transition: 250ms;

  //transform: translate(var(--x), var(--y));
}

.st0{
  fill:none;
  stroke:#000000;
  stroke-width:9;
  stroke-miterlimit:10;
}

.st3{
  fill:#FFFFFF;
}

h1 {
  color: #FFF;
  margin: 50px auto;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  opacity: 0.67;
}
